/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* RESET CSS */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --content-bg-clr: #cea3bb;
    --content-txt-clr: #1b2d3f;
}

.dark-theme {
    --content-bg-clr: #1b2d3f;
    --content-txt-clr: #cea3bb;
}


html {
    scroll-padding-top: 48px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Playball', cursive;
}

.container {
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 200px 32px 1fr 30px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "main main"
    "footer footer";
}

*::-webkit-scrollbar {
    width: 16px;
    background-color: var(--content-bg-clr);
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    margin-block: .5em;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-color: #aaa;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#scroll-top-btn {
    position: fixed;
    right: 30px;
    bottom: -150px;
    z-index: 999;
    cursor: pointer;
    transition: all .3s linear;
}

#scroll-top-btn:hover {
    transform: scale(1.1);
}

/* START OF HEADER */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#medaillon {
    height: 170px;
    border-radius: 50%;
    padding: 10px;
    
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Positioning the video */
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1 {
    color: var(--content-txt-clr);
    text-align: center;
    font-size: 60px;
    margin-right: 60px;
    background-color: var(--content-bg-clr);
    padding: 5px 25px;
    border-radius: 20px;
    box-shadow: 0 0 4px white;
}

.logo-link, .medaillon-link {
    text-decoration: none;
    transition: transform 300ms;
    
}

.logo-link:hover,
.medaillon-link:hover {
    transform: scale(1.05);
}
/* END OF HEADER */

/* START OF NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--content-bg-clr);
    position: sticky;
    top: 0;
    z-index: 9999;
    grid-area: navbar;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding-right: 50px;
    
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links li:hover {
    background-color:#967888;
}

.nav-links a {
    height: 100%;
    padding: 2px 18px;
    text-decoration: none;
    color: var(--content-txt-clr);
    font-size: 26px;
    font-weight: 900;
}

.navbar a:hover {
    color: #f1f1f1;
}


#icon {
    position: absolute;
    top: 2px;
    width: 26px;
    cursor: pointer;
    margin-right: 12px;
}

#hamburger-icon {
    cursor: pointer;
    margin-left: 15px;
    position: absolute;
    left: 0;
    transition: .5s;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--content-txt-clr);
    margin: 4px 0;
    transition: .7s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 4px);
    transform: rotate(-45deg) translate(-9px, 4px);
  }
  
  .change .bar2 {
      opacity: 0;
}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -4px);
  }

  .sanreizan-list {
      display: none;
      position: absolute;
      top: 32px;
      background-color: var(--content-bg-clr);
      box-shadow: 0px 0px 4px #ccc;
  }

 nav > ul li:hover .sanreizan-list{
      display: block;
  }
/* END OF NAVIGATION BAR */

/* START OF MAIN */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
}

/* START OF SIDEBAR NAVIGATION */
.sidebar {
    max-width: 0;
    height: calc(100vh - 32px); /* 32px = height of sticky navbar*/
    position: sticky;
    top: 32px;
    left: 0;
    background-color: var(--content-txt-clr);
    overflow-y: scroll;
    transition: max-width .6s ease;
}

.sidebar ul {
    list-style-type: none;
    padding-top: 32px;
    padding-bottom: 250px;
}

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 800;
    color: var(--content-bg-clr);
    display: block;
}

.sidebar a:hover {
    background-color:#967888;
    color: #f1f1f1;
}
/* END OF SIDEBAR NAVIGATION */

/* START OF CONTENT */
.content {
    background-color: var(--content-bg-clr);
    color: var(--content-txt-clr);
    width: 100%;
    overflow: hidden;
}

.sanreizan-banner {
    background-color: var(--content-txt-clr);
    padding: 8px 0;
}

.sanreizan-banner-head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sanreizan-banner h2 {
    display: inline;
    color: var(--content-bg-clr);
    font-size: 1.3rem;
}

.sanreizan-banner img {
    width: 100px;
}

.sanreizan-banner p {
    max-width: 90%;
    margin: 8px auto;
    color: #f1f1f1;
}

.cards a {
    text-decoration: none;
}

.cards { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin-block: 40px;
}

.card {
    width: 350px;
    height: 390px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 15px;
    border: 2px solid #ffffff28;
    border-radius: 10px;
    box-shadow: 0 0px 4px var(--content-txt-clr);
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
}

.card-head {
    height: 200px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card h3 {
    position: absolute;
    top: 160px;
    padding: 10px;
    color: var(--content-txt-clr);
    text-transform: uppercase;
}

h3.bg-var {
    background-color: var(--content-bg-clr);
}

.card-body {
    background-color: var(--content-txt-clr);
    color: var(--content-bg-clr);
    padding: 24px 12px;
}

.card-body p {
    text-align: center;
}

.card-body ul {
    margin-top: 12px;
    margin-left: 24px;
}

details {
    width: 80%;
    margin: .5em auto;
    border: 2px solid var(--content-txt-clr);
    border-radius: 4px;
    padding: .5em .5em 0;
    transition: all .3s ease;
}

details[open] {
    padding: .5em;
}

details h3 {
    margin: 10px auto;
    font-size: 1.3rem;
    max-width: 95%;
}

details p {
    max-width: 95%;
    margin: 15px auto;
}

details a {
    color: var(--content-txt-clr);
}

details ul {
    margin-left: 5%;
}

details hr {
    width: 95%;
    margin: 15px auto;
}

details input {
    margin-block: 14px;
    width: 50%;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: var(--content-txt-clr);
    cursor: pointer;
}

summary::marker {
    color: var(--content-bg-clr);
}

summary::-webkit-details-marker {
    color: var(--content-bg-clr);
  }

summary a {
    text-decoration: none;
    color: var(--content-bg-clr);
}

details table {
    border: 1px solid var(--content-txt-clr);
    width: 80%;
    text-align: center;
    margin-inline: auto;
    margin-block: 12px;
}

details th, details td {
    border-bottom: 1px solid var(--content-txt-clr);
    border-right: 1px solid var(--content-txt-clr);;
}

.contact-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 60px;
    gap: 8px;
}

.left-contact {
    background-image: linear-gradient(to right bottom, #008cff, #2ca0ff, #4aa8ff, #5faaff, #81b5ff);
    padding: 35px 40px;
    border-radius: 6px;
}

.left-contact h2 {
    color: #1d2a35;
    margin-bottom: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form label {
    display: none;
}

.form-input {
    border: none;
    color: #1d2a35;
    border-bottom: 1px solid #f1f1f1;
    background: transparent;
    padding-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input::placeholder {
    color: #1d2a35;
}

.form-input:focus {
    outline: none;
    border-color: #1d2a35;
}

.submit-btn {
    width: fit-content;
    padding: 10px 20px;
    margin-inline: auto;
    background-color: var(--content-bg-clr);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
}

.submit-btn:hover {
    color: var(--content-txt-clr);
    cursor: pointer;
}

.right-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
    padding: 35px 40px;
    background-color: var(--content-txt-clr);
    color: var(--content-bg-clr);
    font-size: 1.2rem;
    border-radius: 6px;
}

.right-contact h2 {
    font-size: 1.8rem;
}

.right-contact img {
    width: 30px;
}

.address, .email, .phone {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
/* END OF CONTENT */
/* END OF MAIN */

/* START OF FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: var(--content-txt-clr);
    color: var(--content-bg-clr);
}
/* END OF FOOTER */

/* START OF MEDIA QUERIES */
@media screen and (max-width: 900px){
    
    .nav-links a{
        font-size: 20px;
        padding: 2px 12px;
    }
    
    header h1 {
        font-size: 42px;
        padding: 5px 10px;
    }

    #hamburger-icon {
        background-color: var(--content-bg-clr);
    }

    details {
        width: 90%;
    }

    details table {
        width: 95%;
    }

    #scroll-top-btn {
        opacity: .5;
    }

}

@media screen and (max-width: 600px) {

    .container {
        grid-template-rows: 32px 1fr 30px;
        grid-template-areas:
        "navbar navbar"
        "main main"
        "footer footer" ;
    }

    header {
        display: none;
    }

    .nav-links a {
        font-size: 18px;
        margin-top: 4px;
    }

    details {
        width: 80%;
    }

    details table {
        width: 75%;
        font-size: 8px;
    }
}

@media screen and (max-width: 420px){
    
    #icon {
        margin-right: 6px;
    }

    .nav-links{
        margin-right: 4px;
    }

    .nav-links a {
        font-size: 14px;
        padding: 2px 4px;
        margin-top: 8px;
    }

    details {
        width: 80%;
    }

    details table {
        width: 45%;
        font-size: 8px;
    }

    footer {
        font-size: 12px;
    }

}
/* END OF MEDIA QUERIES */
/* ******************************** */